<!DOCTYPE html>
<html lang="EN">
	<head>			<!-- head contains meta-data -->
		<meta charset="UTF-8" />
                    <!-- This is the meta of  IE Compatibility-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <!-- This is the meta of responsive website-->
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<title>Yasser B. | Home</title>
<!--		<link rel="icon" href=""/>-->
		<link rel="stylesheet" href="css/bootstrap.css"/>
		<link rel="stylesheet" href="css/style.css"/>
        
        <!--fonts-->
        <!--end fonts-->
        
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
	<body  class="main-wrap">			<!-- body contains the document content -->
<!------------------------------ Header ------------------------------->
       
<!---------------------------- end Header -------------------------------->   
<!---------------------------- page content ---------------------------------------------->
		<main>
            <div class="headline">
                    <div><h1>About Us</h1></div>
            </div>
            <div class="container aboutus">
                
                <div class="row vimi">
                        <div class="col-lg-6 col-sm-6 col-xs-12"> 
                            <div>
                                <div><h2>Our Vision</h2></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div>
                                <div><h2>Our Mission</h2></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget.
                                </p>
                            </div>
                        </div>
                </div>
                </div>
                <div class="container aboutus combo">
                    <div  class="row headline subheadline">
                        <div><h2>Our Committees</h2></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12 com"> 
                            <div>
                                <div>
                                    <div><img src="Images/logistics.png"></div>
                                    <h3>Logistics</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 com">
                            <div>
                                <div>
                                    <div><img src="Images/marketing.png"></div>
                                    <h3>Marketing</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget.
                                </p>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 com">
                            <div>
                                <div>
                                    <div><img src="Images/fr.png"></div>
                                    <h3>Fundraising</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 com">
                            <div>
                                <div>
                                    <div><img src="Images/multimedia.png"></div>
                                    <h3>MultiMedia</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-12 com">
                            <div>
                                <div>
                                    <div><img src="Images/pr.png"></div>
                                    <h3>Public Relations</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div  class="row headline subheadline">
                        <div><h2>Our Board</h2></div>
                    </div>
                    <div class="row boardrow">
                        <div class="col-lg-3 col-xs-6 bocard">
                            <div>
                                <div class="bocardtxt">
                                    <div>
                                    <div><img src="Images/people.png"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget. Aliquam erat volutpat. Donec vel laoreet nulla. Nunc placerat nibh turpis, ac commodo enim bibendum sed. Fusce ut magna in felis mattis pretium vel vitae urna.</p>
                                    </div>
                                </div>
                                <div><h3>Chairperson</h3></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6 bocard">
                            <div>
                                <div class="bocardtxt">
                                    <div>
                                    <div><img src="Images/vicechair.png"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget. Aliquam erat volutpat. Donec vel laoreet nulla. Nunc placerat nibh turpis, ac commodo enim bibendum sed. Fusce ut magna in felis mattis pretium vel vitae urna.</p>
                                    </div>
                                </div>
                                <div><h3>Vice Chairperson</h3></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6 bocard">
                            <div>
                                <div class="bocardtxt">
                                    <div>
                                    <div><img src="Images/edit-tools.png"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget. Aliquam erat volutpat. Donec vel laoreet nulla. Nunc placerat nibh turpis, ac commodo enim bibendum sed. Fusce ut magna in felis mattis pretium vel vitae urna.</p>
                                    </div>
                                </div>
                                <div><h3>Secretary</h3></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6 bocard">
                            <div>
                                <div class="bocardtxt">
                                    <div>
                                    <div><img src="Images/holder.png"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at lectus malesuada, ultricies ligula quis, lobortis justo. Aenean id congue libero. Maecenas bibendum est erat, ut venenatis ex pharetra eget. Aliquam erat volutpat. Donec vel laoreet nulla. Nunc placerat nibh turpis, ac commodo enim bibendum sed. Fusce ut magna in felis mattis pretium vel vitae urna.</p>
                                    </div>
                                </div>
                                <div><h3>Treasurer</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
            
                
<!---------------------------- end page content ----------------------------------------->
            <!------ contact us ------>
            
<!------ End contact us ------>
            
<!---------------------------- footer ------------------------------------->
            
<!---------------------------- End footer --------------------------------->
        </main>
        <script src="https://kit.fontawesome.com/0f163d8144.js" crossorigin="anonymous"></script>
	</body>
</html>

