<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/membership-style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendor/all.min.css">

    <title>IEEEManSB</title>
    <script src="../static/vendor/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="../static/js/membership-main.js"></script>
</head>
<body>
   <section id="title">
       <div class="title">
           <h1>IEEE Membership Benifts</h1>
       </div>
   </section>
   <section id="benifits" class="container">
       <div class="xplore benifit">
           <div class="text">
                <div class="benifit_title">
                    <h2>Xplore</h2>
                </div>
                <div class="ditales">
                    <p>The IEEE Xplore digital library is a powerful resource for discovery of scientific and technical
                            content published by the IEEE (Institute of Electrical and Electronics Engineers) and its publishing partners.
                        IEEE Xplore provides web access to more than four-million full-text documents from some of
                        the world's most highly-cited publications in electrical engineering, computer science, and electronics.
                        </p>
                 </div>
            </div>
           <div class="benifits-icon">
            <span><i class="fas fa-cog fa-9x" style="color: white;"></i></span>
           </div>
           <div class="list">
            <div>The content in IEEE Xplore comprises:</div>
            <ul>
                <li class="element"><span>+<span class="counter" data-target="195">0</span></span>journals</li>
                <li class="element"><span>+<span class="counter" data-target="1800">0</span></span>conferences</li>
                <li class="element"><span>+<span class="counter" data-target="6200">0</span></span>technical standards</li>
                <li class="element"><span class="counter" data-target="2400">0</span>books</li>
                <li class="element"><span>+<span class="counter" data-target="425">0</span></span>educational courses</li>
                <li class="element"><span class="counter" data-target="20000">0</span>documents monthly</li>
            </ul>
        </div>
       </div>
       <div class="Collabratec benifit" data-aos="fade-left">
           <div class="text">
                <div class="benifit_title">
                    <h2>Collabratec</h2>
                </div>
                <div class="ditales">
                    <p>IEEE Collabratec® allows engineers and technology professionals with similiar interests to 
                        network and collaborate through online communities and groups. Online communities and groups provide
                        the opportunity to ask and answer questions, post documents, and view relevant events.
                    </p>
                </div>
            </div>
            <div class="benifits-icon">
                <span><i class="fas fa-cog fa-9x" style="color: white;"></i></span>
            </div>
       </div>
       <div class="resumeLab benifit" data-aos="fade-right">
           <div class="text">
                <div class="benifit_title">
                    <h2>ResumeLab</h2>
                </div>
                <div class="ditales">
                    <p>IEEE ResumeLab is an online service that allows IEEE members to develop a resume or curriculum vitae using a wide
                        array of resume templates. Members can also perform mock interviews using over 900 potential interview
                        questions or develop letters, portfolios, and skills assessments to use during the interview process.
                        Best of all, the information developed on IEEE ResumeLab is easily shared with potential employers, mentors,
                            or colleagues via a personalized website.
                    </p>
                </div>
            </div>
            <div class="benifits-icon">
                <span><i class="fas fa-cog fa-9x" style="color: white;"></i></span>
            </div>
       </div>
       <div class="xtreme benifit" data-aos="fade-left">
           <div class="text">
                <div class="benifit_title">
                    <h2>IEEEXtreme</h2>
                </div>
                <div class="ditales">
                    <p>IEEEXtreme is a global challenge in which teams of IEEE Student members—advised and proctored by an IEEE member,
                        and often supported by an IEEE Student Branch—compete in a 24-hour time span against each other to solve a set 
                        of programming problems. 
                    </p>
                </div>
             </div>
            <div class="benifits-icon">
                <span><i class="fas fa-cog fa-9x" style="color: white;"></i></span>
            </div>
       </div>
       <div class="apps benifit" data-aos="fade-right">
           <div class="text">
                <div class="benifit_title">
                    <h2>GoogleApps@IEEE</h2>
                </div>
                <div class="ditales">
                    <p>GoogleApps@IEEE is available to members at no additional cost.
                    </p>
                </div>
            </div>
            <div class="benifits-icon">
                <span><i class="fas fa-cog fa-9x" style="color: white;"></i></span>
            </div>
            <div class="list">
                <div>Users will have access to:
                </div>
                <ul>
                    <li class="element">A unique IEEE email address (e.g., John.A.Doe@ieee.org)</li>
                    <li class="element">Mail forwarding or email inbox (Gmail)</li>
                    <li class="element"><span>30</span> gigabytes of shared storage </li>
                    <li class="element"><span>99.9</span>% up time guaranteed by Google</li>
                    <li class="element">Advertisement-free Gmail</li>
                    <li class="element">Use Google Hangouts for messaging, voice and video calls</li>
                </ul>
            </div>
       </div> 
       <div class="scholarships benifit" data-aos="fade-left">
           <div class="text">
                <div class="benifit_title">
                    <h2>Scholarships</h2>
                </div>
                <div class="ditales">
                    <p>IEEE offers a variety of scholarships, grants, and fellowships for IEEE Student members. Submit a project or paper 
                        for consideration and have the opportunity to win and gain peer recognition for your effort.
                        Terms and conditions may apply.
                    </p>
                </div>
            </div>
            <div class="benifits-icon">
                <span><i class="fas fa-cog fa-9x" style="color: white;"></i></span>
            </div>
       </div>
       <div class="discounts benifit" data-aos="fade-right">
           <div class="text">
                <div class="benifit_title">
                    <h2>Disounts</h2>
                </div>
                <div class="ditales">
                    <p>The IEEE Xplore digital library is a powerful resource for discovery of scientific and technical content published by the IEEE (Institute of Electrical and Electronics Engineers) and its publishing partners.
                    IEEE Xplore provides web access to more than four-million full-text documents from some of the world's most highly-cited publications in electrical engineering, computer science, and electronics.
                    </p>
                </div>
            </div>
            <div class="benifits-icon">
                <span><i class="fas fa-cog fa-9x" style="color: white;"></i></span>
            </div>
       </div>
   </section>
   <section id="member">
       <div class="title">
           <h1>Why should I become IEEE Member?</h1>
       </div>
       <div class="types"> 
           <div class="student"></div>
            <div class="gradute"></div>
            <div class="researcher"></div>
        </div>
   </section>
   <section id="cards">
       <div class="container">
           <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="studednt card">
                        <span class="card-img-top"><i class="fas fa-user-graduate fa-6x"></i></span>
                        <div class="card-body">
                            <h5 class="card-title">As a student</h5>
                            <ul class="card-text">
                                <li>
                                   <span> You’ll be able to keeping up technically with content from IEEE Xplore</span>
                                </li>
                                <li>
                                    <span> building your CV using ResumeLab </span>
                                </li>
                                <li>
                                   <span> Get discounts on IEEE publications or conferences </span>
                                </li>
                                <li>
                                   <span> Get an IEEE email alias </span>
                                </li>
                                <li>
                                    <span> Apply for scholarships or grants for your projects </span>
                                 </li>
                                <li>
                                    <span> Participate in competitions like IEEEXtreme </span>
                                 </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="gradute card">
                        <span class="card-img-top"><i class="fas fa-user-graduate fa-6x"></i></span>
                        <div class="card-body">
                            <h5 class="card-title">As a gradute</h5>
                            <ul class="card-text">
                                <li>
                                   <span> You’ll be able to keeping up technically with content from IEEE Xplore</span>
                                </li>
                                <li>
                                   <span> Undergo mock interviews using ResumeLab with a variety of their interview questions</span>
                                </li>
                                <li>
                                   <span> Get discounts on IEEE publications or conferences</span>
                                </li>
                                <li>
                                   <span> Get an IEEE email alias </span>
                                </li>
                                <li>
                                   <span> Start using Collabratec to communicate with fellow professional and their work.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="researcher card">
                        <span class="card-img-top"><i class="fas fa-search fa-6x"></i></span>
                        <div class="card-body">
                            <h5 class="card-title">As a researcher</h5>
                            <ul class="card-text">
                                <li>
                                    <span> You’ll be able to keeping up technically with content from IEEE Xplore</span>
                                </li>
                                <li>
                                   <span> Get discounts on IEEE publications or conferences</span>
                                </li>
                                <li>
                                   <span> Get an IEEE email alias </span>
                                </li>
                                <li>
                                   <span> Use Collabratec to work on projects and researches as a group or individually and discuss your work with other Collabratec users</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
         </div>
   </section>
</body>
